In [1]:
import os
import pandas as pd
from pyensembl import EnsemblRelease

os.chdir('../data/processed/network_analysis/')

In [2]:
!wget -c https://stringdb-static.org/download/protein.links.detailed.v11.0/9606.protein.links.detailed.v11.0.txt.gz

--2021-04-30 07:18:51--  https://stringdb-static.org/download/protein.links.detailed.v11.0/9606.protein.links.detailed.v11.0.txt.gz
Resolving stringdb-static.org (stringdb-static.org)... 151.106.34.104
Connecting to stringdb-static.org (stringdb-static.org)|151.106.34.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 110085813 (105M) [application/octet-stream]
Saving to: ‘9606.protein.links.detailed.v11.0.txt.gz’

9606.protein.links. 100%[===================>] 104.99M  7.53MB/s    in 16s

2021-04-30 07:19:08 (6.42 MB/s) - ‘9606.protein.links.detailed.v11.0.txt.gz’ saved [110085813/110085813]

In [2]:
string_db = pd.read_csv('9606.protein.links.detailed.v11.0.txt.gz', sep = ' ')

In [3]:
string_db

,protein1,protein2,neighborhood,fusion,cooccurence,coexpression,experimental,database,textmining,combined_score
0,9606.ENSP00000000233,9606.ENSP00000272298,0,0,332,62,181,0,125,490
1,9606.ENSP00000000233,9606.ENSP00000253401,0,0,0,0,186,0,56,198
2,9606.ENSP00000000233,9606.ENSP00000401445,0,0,0,0,159,0,0,159
3,9606.ENSP00000000233,9606.ENSP00000418915,0,0,0,61,158,0,542,606
4,9606.ENSP00000000233,9606.ENSP00000327801,0,0,0,88,78,0,89,167
...,...,...,...,...,...,...,...,...,...,...
11759449,9606.ENSP00000485678,9606.ENSP00000310488,0,0,0,167,0,0,0,167
11759450,9606.ENSP00000485678,9606.ENSP00000342448,0,0,0,175,0,0,0,175
11759451,9606.ENSP00000485678,9606.ENSP00000350222,0,0,0,195,0,0,0,195
11759452,9606.ENSP00000485678,9606.ENSP00000367590,0,0,0,0,0,900,0,900
11759453,9606.ENSP00000485678,9606.ENSP00000349930,0,0,0,213,0,0,0,213

In [4]:
string_db.protein1 = string_db.protein1.str.split('.').str[1]
string_db.protein2 = string_db.protein2.str.split('.').str[1]

In [5]:
ens = EnsemblRelease(84)

In [6]:
def convert_to_gene(prot):
    try:
        return ens.gene_id_of_protein_id(prot)
    except:
        return None

In [7]:
string_db['gene1'] = string_db.protein1.apply(convert_to_gene)

In [8]:
string_db['gene2'] = string_db.protein2.apply(convert_to_gene)

In [ ]:
string_db.query('combined_score > 900')

In [47]:
string_db.to_csv('gene_to_gene_links.tsv', sep = '\t', index=False)

In [44]:
number_of_interactions = string_db.shape[0]

In [45]:
string_db.dropna().shape[0]

11291710

In [46]:
number_of_interactions

11759454

In [ ]:
# maybe its a good idea to save this so that you don't have to rerun it.